<nav class="menu">
  <div class="menu-logo">
    <img
      src="https://static.eldiario.es/clip/f3c3436b-c8f1-4193-938c-dd01205bd9b8_16-9-discover-aspect-ratio_default_0.jpg"
      alt="Capire Books Logo"
    />
    <h1>Capire Books</h1>
  </div>

  <ul class="menu-links">
    <li><a routerLink="books" routerLinkActive="active">📚 Libros</a></li>
    <li><a routerLink="authors" routerLinkActive="active">✍️ Autores</a></li>
    <li><a routerLink="account" routerLinkActive="active">👤 Cuenta</a></li>
  </ul>
</nav>
