<div class="modal-backdrop">
  <div class="modal">
    <h2 class="modal-title">Editar Libro</h2>

    <label class="form-label">Título</label>
    <input [(ngModel)]="editableBook.title" class="form-input" />

    <label class="form-label">Url Portada</label>
    <input [(ngModel)]="editableBook.imageUrl" class="form-input" />

    <label class="form-label">Autor</label>
    <select [(ngModel)]="editableBook.author" class="form-select">
      <option *ngFor="let a of authors" [ngValue]="a.name">{{ a.name }}</option>
    </select>
    <label class="form-label">Género</label>
    <select [(ngModel)]="editableBook.genre.name" class="form-select">
      <option *ngFor="let g of genres" [ngValue]="g.name">{{ g.name }}</option>
    </select>

    <label class="form-label">Descripción</label>
    <textarea [(ngModel)]="editableBook.descr" class="form-textarea"></textarea>

    <label class="form-label">Precio</label>
    <input type="number" [(ngModel)]="editableBook.price" class="form-input" />

    <label class="form-label">Stock</label>
    <input type="number" [(ngModel)]="editableBook.stock" class="form-input" />

    <label class="form-label">Moneda</label>
    <input type="text" [(ngModel)]="editableBook.currency_code" class="form-input" />


    <div class="actions">
      <button (click)="onSave()" class="btn btn-save">Guardar</button>
      <button (click)="onClose()" class="btn btn-cancel">Cancelar</button>
    </div>
  </div>
</div>