<div class="container-author">
  <div class="header-search">
    <input
      class="Search"
      type="text"
      placeholder="Buscar..."
      (input)="loadAuthors($event.target.value)"
    />
    <button class="add-author-btn" *ngIf="isAdmin" (click)="addAuthor()">Agregar Autor</button>
  </div>
  <div class="author-list">
    <div class="author-card" *ngFor="let author of author">
      <div class="card-header">
        <img [src]="author.imageUrl" alt="Foto de {{ author.name }}" class="author-image" />
      </div>
      <div class="card-body">
        <h3 class="author-name">{{ author.name }}</h3>
        <p class="author-bio">{{ author.biography | truncate : 200 }}</p>
        <div class="author-details">
          <p class="detail-item"><strong>Nacimiento: </strong> {{ author.dateOfBirth }}</p>
          <p class="detail-item"><strong>Lugar: </strong>{{ author.placeOfBirth }}</p>
          <p class="detail-item"><strong>Fallecimiento :</strong> {{ author.dateOfDeath }}</p>
          <p class="detail-item"><strong>Lugar: </strong>{{ author.placeOfDeath }}</p>
        </div>
        <div class="card-actions" *ngIf="isAdmin">
          <button class="edit-btn" (click)="editAuthor(author)">Editar</button>
          <button class="delete-btn" (click)="deleteAuthor(author.ID, author.name)">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="author.length === 0" class="not-found-message">
    No se encontraron autores que coincidan con su búsqueda. 😕
  </div>
</div>

<app-author-create *ngIf="modalMode === 'create'" (close)="closeModal()"></app-author-create>
<app-author-edit
  *ngIf="modalMode === 'edit'"
  (close)="closeModal()"
  [authorId]="selectedAuthorId"
></app-author-edit>
