*{
    margin-bottom: 10px;
}


.titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hovering tr:hover td {
  color: cyan;
  background: #123;
  cursor: pointer;
}
.rating-stars {
  color: teal;
}
.succeeded {
  color: teal;
}
.failed {
  color: rgb(246, 49, 49);
}
.user {
  text-align: end;
  color: grey;
}
.delete {
  background-color: red;
  margin-right: 10px;
  border: none;
}
.delete:hover {
  background-color: darkred;
  cursor: pointer;
  border: none;
}
.normalButton {
  background-color: #0366ee;
  margin-right: 10px;
  border: none;
  width: 120px;
  height: 40px;
  padding: 0;
}

/* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}

/* El cuadro del modal con el mensaje */
.message-modal {
  padding: 20px 30px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

/* Estilos para los tipos de mensaje (éxito y error) */
.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Animación para que el modal aparezca suavemente */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
