<div class="modal-overlay" (click)="close()"></div>

<div class="modal-content">
  <div class="book-detail-card" *ngIf="book">
    <div class="book-image-wrapper">
      <img [src]="book.imageUrl" [alt]="'Portada de ' + book.title" class="book-image" />
    </div>

    <div class="book-info">
      <h2 class="book-title">{{ book.title }}</h2>
      <p class="book-author"><strong>Autor:</strong> {{ book.author }}</p>
      <p class="book-genre"><strong>Género:</strong> {{ book.genre.name }}</p>
      <div class="book-description">
        <h3>Descripción</h3>
        <p>{{ book.descr }}</p>
      </div>
      <div class="book-meta">
        <p class="book-price">
          <strong>Precio:</strong> ${{ book.price }} {{ book.currency_code }}
        </p>
        <p class="book-stock"><strong>Stock:</strong> {{ book.stock }}</p>
      </div>
      <div class="order-section" *ngIf="isLoged">
        <input type="number" min="1" value="1" class="quantity-input" #quantityInput />
        <button class="order-btn" (click)="orderBook(book.ID ?? '', +quantityInput.value)">Ordenar</button>
    </div>
  </div>

  <button class="close-btn" (click)="close()">✖</button>
</div>
